@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    align-items: center;
    border-bottom: 3px solid #FC1E4F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
}

.navbar img {
    display: flex;
    flex-shrink: 3;
    height: 70px;
    width: 70px;
}

.navbar ul a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: all .2s;
}

.navbar ul a:hover {
    color: #FC1E4F;
}

.navbar ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 35%;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.slogan {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 60%;
}

.slogan h1 {
    font-size: 2.4em;
}

.slogan .color {
    color: #FC1E4F;
}

.slogan p {
    font-size: 1.7em;
    line-height: 1.4;
}

.img img {
    border-radius: 7px;
    height: 440px;
    transition: all .2s;
    width: 450px;
}

.img img:hover {
    box-shadow: 0 0 12px #fff;
}

.publico {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 70px;
}

.publico ul {
    display: flex;
    flex-direction: column;
}


.publico ul li {
    font-size: 1.3em;
    line-height: 1.4;
    list-style: none;
    text-align: center;
}

.publico h5 {
    font-size: 1.7em;
    margin: 10px;
    text-align: center;
}

.publico .color {
    color: #FC1E4F;
}

.container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 120px 0 40px 0;
}

.container2 h2 {
    font-size: 2.2em;
}

.container2 h3 {
    font-size: 1.4em;
    margin: 15px 0;
}

.container2 p {
    font-size: 1.2em;
    text-align: center;
    width: 80%;
}

.pago {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.envio {
    align-items: center;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.protegido {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

i {
    color: #FC1E4F;
    font-size: 5em;
}

@media (max-width: 800px) {
    .navbar {
        padding: 10px;
    }

    .navbar img {
        height: 45px;
        width: 45px;
    }

    .navbar a {
        font-size: 1.1em;
    }

    .navbar ul {
        width: 80%;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .slogan {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    .slogan h1 {
        font-size: 1.8em;
    }

    .slogan p {
        font-size: 1.3em;
        line-height: 1.5;
    }
    
    .img img {
        height: 250px;
        margin-top: 30px;
        width: 310px;
        border: .1px solid #111;
    }

    .publico {
        align-items: center;
        display: flex;
        justify-content: center;
        margin-top: 40px;
    }
    
    .publico ul {
        display: flex;
        flex-direction: column;
        width: 90%;
    }

    .publico ul li {
        font-size: 1.3em;
        line-height: 1.5;
        list-style: none;
        text-align: center;
    }
    
    .publico h5 {
        font-size: 1.6em;
        margin: 10px;
        text-align: center;
    }

    .container2 h2 {
        font-size: 1.8em;
    }
    
    .container2 h3 {
        font-size: 1.4em;
        margin: 15px 0;
    }
    
    .container2 p {
        font-size: 1.2em;
        text-align: center;
        width: 80%;
    }
    
    .pago {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    .tarjeta {
        width: 100%;
    }
    
    .envio {
        border: none;
        width: 100%;
    }
    
    .protegido {
        width: 100%;
    }
    
    i {
        font-size: 3.7em;
    }
}