@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');

body {
    background-color: #000;
    color: #fff;
    font-family: 'Oswald', sans-serif;
}

.navbar {
    align-items: center;
    border-bottom: 3px solid #FC1E4F;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 25px;
}

.navbar img {
    display: flex;
    flex-shrink: 3;
    height: 70px;
    width: 70px;
}

.navbar ul a {
    color: #fff;
    font-size: 1.5em;
    text-decoration: none;
    transition: all .3s;
}

.navbar ul a:hover {
    color: #FC1E4F;
}

.navbar ul {
    align-items: center;
    display: flex;
    justify-content: space-around;
    list-style: none;
    width: 35%;
}

.container {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.slogan {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    width: 40%;
}

.slogan h1 {
    font-size: 2em;
}

.slogan .color {
    color: #FC1E4F;
}

.slogan p {
    font-size: 1.3em;
    line-height: 1.4;
}

.img img {
    border-radius: 7px;
    height: 440px;
    transition: all .2s;
    width: 450px;
}

.img img:hover {
    box-shadow: 0 0 12px #fff;
}

.publico {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 70px;
}

.publico ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}


.publico ul li {
    font-size: 1.3em;
    line-height: 1.4;
    list-style: none;
    text-align: center;
}

.publico h4 {
    font-size: 1.7em;
    margin: 10px;
    text-align: center;
}

.publico .color {
    color: #FC1E4F;
}

.container2 {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 120px 0;
}

.container2 h3 {
    font-size: 2.2em;
}

.container2 h4 {
    font-size: 1.4em;
    margin: 15px 0;
}

.container2 p {
    font-size: 1.2em;
    text-align: center;
    width: 80%;
}

.pago {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
}

.tarjeta {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.envio {
    align-items: center;
    border-left: 1px solid #222;
    border-right: 1px solid #222;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.protegido {
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.pago i {
    color: #FC1E4F;
    font-size: 5em;
}

.container3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 120px;
}

.container3 h3 {
    font-size: 2.2em;
}

.trabajos {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.card {
    width: 310px;
    height: 200px;
    border: 1px solid #fff;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 40px;
    position: relative;
    box-shadow: 0 0 6px #fff;
}

.card img {
    width: 100%;
    height: 100%;
    transition: all .3s ease-out;
}

.capa {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    font-size: 1.3em;
    background: rgba(255, 255, 2555, .5);
    transition: all .3s ease-out;
    opacity: 0;
    visibility: hidden;
}

.capa a {
    display: flex;
    text-decoration: none;
    color: #000;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}

.card:hover > .capa {
    opacity: 1;
    visibility: visible;
}

.container4 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 70px;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-around;
    height: 100%;
}

.contacto h3 {
    font-size: 1.8em;
    margin-bottom: 50px;
}

.contacto h4 {
    font-size: 1.4em;
    color: #FC1E4F;
    margin-bottom: 30px;
}

.contacto i {
    font-size: 1.4em;
    color: #FC1E4F;
    background: #111;
    border-radius: 50%;
    padding: 10px;
    margin-right: 10px;
}

.contacto p {
    display: inline-block;
    font-size: 1.2em;
    margin: 40px 0;
}

.mapa {
    width: 40%;
    border-radius: 10px;
    overflow: hidden;
}

footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    border-top: 3px solid #FC1E4F;
}

footer img {
    width: 70px;
    height: 70px;
    margin: 0;
    padding: 0;
}

footer h4 {
    font-size: 1.6em;
    color: #FC1E4F;
    font-weight: 500;
    margin: 0;
    padding: 0;
}

@media (max-width: 800px) {
    .navbar {
        padding: 10px;
    }

    .navbar img {
        height: 45px;
        width: 45px;
    }

    .navbar a {
        font-size: 1.1em;
    }

    .navbar ul {
        width: 80%;
    }

    .container {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-top: 30px;
    }
    
    .slogan {
        align-items: center;
        display: flex;
        flex-direction: column;
        width: 90%;
    }
    
    .slogan h1 {
        font-size: 1.8em;
    }

    .slogan p {
        font-size: 1.3em;
        line-height: 1.5;
    }
    
    .img img {
        height: 250px;
        margin-top: 30px;
        width: 310px;
        border: .1px solid #111;
    }

    .publico {
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
    }
    
    .publico ul {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        width: 90%;
    }

    .publico ul li {
        font-size: 1.3em;
        line-height: 1.5;
        list-style: none;
        text-align: start;
    }
    
    .publico h5 {
        font-size: 1.6em;
        margin: 10px;
        text-align: center;
    }

    .container2 {
        margin: 70px 0;
    }
    

    .container2 h3 {
        font-size: 1.8em;
    }
    
    .container2 h4 {
        font-size: 1.4em;
        margin: 15px 0;
    }
    
    .container2 p {
        font-size: 1.2em;
        text-align: center;
        width: 80%;
    }
    
    .pago {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 30px;
        justify-content: space-evenly;
        margin-top: 20px;
    }
    
    .tarjeta {
        width: 100%;
    }
    
    .envio {
        border: none;
        width: 100%;
    }
    
    .protegido {
        width: 100%;
    }
    
    i {
        font-size: 3.7em;
    }

    .container3 {
        margin-bottom: 70px;
    }

    .container3 h3 {
        font-size: 1.8em;
    }

    .container4 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        width: 100%;
        height: 100%;
        margin-bottom: 40px;
    }
    
    .contacto {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        height: 100%;
        margin-bottom: 30px;
    }
    
    .contacto h3 {
        font-size: 1.9em;
        margin-bottom: 40px;
    }
    
    .contacto h4 {
        font-size: 1.5em;
        color: #FC1E4F;
        margin-bottom: 25px;
    }
    
    .contacto i {
        font-size: 1em;
        padding: 7px;
    }
    
    .contacto p {
        display: inline-block;
        font-size: 1em;
        margin: 30px 0;
    }
    
    .mapa {
        width: 90%;
        border-radius: 10px;
        overflow: hidden;
    }
    
    footer img {
        width: 60px;
        height: 60px;
    }
    
    footer h4 {
        font-size: 1.3em;
    }
}